
html {
  font-size: 62.5%;}
body {
    color: #222;
    font-size: 2rem;
    font-family: "Georgia", serif;
    letter-spacing: 0.01rem;
    line-height: 1.75;
    max-width: 720px;
    margin: 0 auto;
}

header {
    padding: 3rem 0;
    box-sizing: content-box;
}
.logo a {
    color: inherit;
    text-decoration: none;}

a {color: inherit;}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;}

article {
    word-wrap: break-word;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px dotted #CCC;}
article div {
    margin: 1.2rem 0 0;
    color: #555;}
article h1 a {
    color: inherit;
    text-decoration: none;}
article h1 a:hover {
    text-decoration: underline;}

time {
    color: #777;}

code {
    font-size: 1.4rem;
    font-family: 'Source Code Pro', Monaco, Courier, monospace;
    padding: .2rem .5rem;
    background-color: #F9F9F9;
    border: 1px solid #EEF;
}

.highlight {
    font-size: 1.4rem;}
    /*font-family: 'Source Code Pro', Monaco, Courier, monospace;}*/
.highlight pre {
    color: #555;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    padding: 2rem;
    background-color: #F9F9F9;
}

.continue {
    font-size: 2.5rem;
    line-height: 0; 
    display: inline;
    text-decoration: none;}

#tags, aside ul {
    list-style-type: none;
    padding: 0;
}
#tags li {
    margin-right: 1rem;
    display: inline-block;
}

footer {
    margin-top: 4rem;
}